/* Body */
body {
    font-family: Calibri;
    padding: 10px;
    background: #F1F1F1;
    max-width: 800px;
    margin: 0 auto !important;
    float: none !important;
}

/* Applied to all boxes */
* {
    box-sizing: border-box;
}

/* Card effect for text */
.card {
    text-align: left;
    background-color: white;
    padding: 1px 5px;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 1px 1px 0px 0px;
    border: 1px solid grey;
}

.card ol {
    padding: 0;
    counter-reset: item;
}
 
.card ol > li {
    margin: 0;
    padding: 0 0 0.5em 2em;
    text-indent: -1em;
    list-style-type: none;
    counter-increment: item;
}
 
.card ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 1.25em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.card ul > li{
    padding:0 0 0.5em 0.75em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftframe {
    background-color: #DDD;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.rightframe {
    background-color: #DDD;
    padding: 5px 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.leftframe h1 {
    font-size: 18px;
}

.rightframe h1 {
    font-size: 18px;
}

/* Header */
.header {
    background-color: #DDD;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

/* Message row */
.messagerow {
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.15);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
}

.messagerow p{
    margin: 0px;
}

/* Main columns */
.leftcolumn {
    float: left;
    width: 30%;
    background-color: #F1F1F1;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
}

.rightcolumn {
    float: left;
    width: 70%;
    background-color: #F1F1F1;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
}

/* Buttons */
.buttonrow {
    margin-top: -0.5em;
    text-align: right;
    padding-bottom: 15px;
}

.button {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #555555;
    color: white;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid grey;
    cursor:pointer;
}

.button:hover {
    background-color: white;
    color: #555555;
    box-shadow: 0 2px #555555;
}

.button:active {
    background-color: white;
    box-shadow: 0 0 #555555;
    transform: translateY(2px);
}

@media screen and (max-width: 800px) {
  .rightcolumn, .leftcolumn{
    background-color: #F1F1F1;
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Custom object styles */
#leftiframe {
    border: none;
    height: 200px;
    width: 100%;
}

#rightiframe {
    border: none;
    height: 175px;
    width: 100%;
}
