<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Irrigation Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'scheduleManager/style.css' %}">

    <!-- For plotly graphs -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'scheduleManager/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'scheduleManager/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'scheduleManager/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'scheduleManager/site.webmanifest' %}">
</head>

<body>
    <div class="header">
        <h1>Irrigation Server</h1>
    </div>
    {% if messages %}
    <div class="messagerow">
        <p class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </p>
    </div>
    {% endif %}
    <div class="row">
        <div class="leftcolumn">
            <div class="leftframe">
                <h1>Irrigation status</h1>
                {% if status_updater_form %}
                    <form action="/scheduleManager/submit_status" method="post">
                        {% csrf_token %}
                        <div class="card">
                            <ul>
                                <li> Running: {{ status_updater_form.running }}  </li>
                                <li> Current slot: {{ status_updater_form.current_slot }} </li>
                            </ul>
                        </div>
                        <div class="buttonrow">
                            <input class="button" type="submit" value="Apply">
                        </div>
                    </form>
                {% else %}
                    <p>No server status available.</p>
                {% endif %}
            </div>
        </div>
        <div class="rightcolumn">
            <div class="rightframe">
                <h1>Daily schedule</h1>
                <div class="card">
                    {% autoescape off %}
                    {{ plot_div }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="rightframe">
                <h1>All scheduled hours</h1>
                <div class="card">
                    <!-- Listing scheduled hours -->
                    {% if irrigation_hours %}
                        <ol>
                        {% for irrigation_hour in irrigation_hours %}
                            <li>
                                {{ irrigation_hour }}
                                <form action="{% url 'scheduleManager:irrigation_hour_delete' irrigation_hour.hour_id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete">
                                </form>
                            </li>
                        {% endfor %}
                        </ol>
                    {% else %}
                        <p>No hours are scheduled.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
