<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Servidor de rec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'scheduleManager/style.css' %}">

    <!-- For plotly graphs -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'scheduleManager/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'scheduleManager/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'scheduleManager/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'scheduleManager/site.webmanifest' %}">
</head>

<body>
    <div class="header">
        <h1>Servidor de rec</h1>
    </div>
    {% if messages %}
    <div class="messagerow">
        <p class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </p>
    </div>
    {% endif %}
    <div id="ajax_messages_block">
    </div>
    <div class="row">
        <div class="leftcolumn">
            <div class="leftframe">
                {% include "info.html" %}
            </div>
            <div class="leftframe">
                {% include "manual.html" %}
            </div>
            <div class="leftframe">
                {% include "add_program.html" %}
            </div>
        </div>
        <div class="rightcolumn">
            <div class="rightframe">
                {% include "plot.html" %}
            </div>
            <div class="rightframe">
                {% include "programs.html" %}
            </div>
            <div class="rightframe">
                {% include "cycle.html" %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'scheduleManager/scripts/main.js' %}"></script>
</body>
</html>
